.starredinfluenceritem_wrapper{
    background: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 30px;
    margin-bottom: 10px;
    height: 56px;
}

.starredinfluenceritem_wrapper .influencer_item_wrapper {
    width: 40%;
    float: left;
    position: relative;
    left: -25px;
}

.starred_influencer_utils {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding-top: 13px;
    padding-right: 13px;
}